{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>My Wallet</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/wallet.css' %}">
</head>
<body>
  {% include 'base/nax_bar.html' %}

  <div class="wallet-container">
    <h2>{{ user.first_name }} {{ user.last_name }}'s Wallet</h2>
    <p class="balance">Current Balance: {{ balance|floatformat:2 }} {{ currency }}</p>
    <form action="{% url 'add_to_balance' %}" method="post" class="add-to-balance-button">
      {% csrf_token %}
      <button type="submit">Add to Balance</button>
    </form>
     <a href="{% url 'change_currency' %}">change_currency</a>
  </div>

  {% include 'base/footer.html' %}
</body>
</html>
